.container{
    background-color: pink;
    border: 3px solid gray;
    border-radius: 15px;
    width: 70%;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-image: url("bg.jpg");
}